.container {
  width: 300px;
  border: 1px solid blue;
  display: flex;
  
  gap: 1rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.imgwrapper {
  object-fit: cover;
}